USE [master]
GO
/****** Object:  Database [ecoMonedas]    Script Date: 15/4/2019 17:23:39 ******/
CREATE DATABASE [ecoMonedas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ecoMonedas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ecoMonedas.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ecoMonedas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ecoMonedas_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ecoMonedas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ecoMonedas]
GO
/****** Object:  Table [dbo].[BilleteraVirtual]    Script Date: 15/4/2019 17:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BilleteraVirtual](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total] [float] NOT NULL,
	[idUsuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BilleteraVirtual] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Centro]    Script Date: 15/4/2019 17:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Centro](
	[id] [int] IDENTITY(1,100) NOT NULL,
	[nombre] [varchar](50) NULL,
	[provincia] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[estado] [bit] NULL,
	[idUsuario] [varchar](50) NULL,
 CONSTRAINT [PK_Centro] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cupon]    Script Date: 15/4/2019 17:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cupon](
	[id] [int] IDENTITY(1,100) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](250) NOT NULL,
	[valor] [float] NOT NULL,
	[estado] [bit] NULL,
	[imagen] [image] NULL,
 CONSTRAINT [PK_Cupon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CuponesDisponibles]    Script Date: 15/4/2019 17:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CuponesDisponibles](
	[idUsuario] [varchar](50) NOT NULL,
	[idCupon] [int] NOT NULL,
	[usado] [bit] NOT NULL,
	[fechaAdquirido] [datetime] NOT NULL,
	[idUnico] [bigint] NOT NULL,
 CONSTRAINT [PK_CuponesDisponibles] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[idCupon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DetalleCambio]    Script Date: 15/4/2019 17:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCambio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idEncCambio] [int] NOT NULL,
	[idMaterial] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[subtotal] [float] NOT NULL,
 CONSTRAINT [PK_DetalleCambio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EncCambio]    Script Date: 15/4/2019 17:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EncCambio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [smalldatetime] NOT NULL,
	[idUsuario] [varchar](50) NOT NULL,
	[idCentro] [int] NOT NULL,
	[total] [float] NOT NULL,
 CONSTRAINT [PK_EncCambio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[historial]    Script Date: 15/4/2019 17:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[historial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cantMonedasCambiadas] [float] NOT NULL,
	[saldoAnterior] [float] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[idCupon] [int] NOT NULL,
	[idUsuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_historial] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Material]    Script Date: 15/4/2019 17:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Material](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[precio] [float] NOT NULL,
	[color] [varchar](50) NOT NULL,
	[imagen] [image] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 15/4/2019 17:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15/4/2019 17:23:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[email] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[clave] [varchar](50) NOT NULL,
	[idRol] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[telefono] [int] NULL,
	[direccion] [varchar](100) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Centro] ON 

INSERT [dbo].[Centro] ([id], [nombre], [provincia], [direccion], [estado], [idUsuario]) VALUES (201, N'Las Flores', N'Guanacaste', N'300 metros al sur del cementerio central', 1, N'glorivega22@gmail.com')
INSERT [dbo].[Centro] ([id], [nombre], [provincia], [direccion], [estado], [idUsuario]) VALUES (301, N'Las Flores', N'Cartago', N'Ggrfre', 0, N'glorivega22@gmail.com')
INSERT [dbo].[Centro] ([id], [nombre], [provincia], [direccion], [estado], [idUsuario]) VALUES (401, N'Rosa', N'Cartago', N'mbv', 1, N'glorivega22@gmail.com')
SET IDENTITY_INSERT [dbo].[Centro] OFF
SET IDENTITY_INSERT [dbo].[Cupon] ON 

INSERT [dbo].[Cupon] ([id], [nombre], [descripcion], [valor], [estado], [imagen]) VALUES (1, N'Cine', N'Entradas de cine', 200, 1, NULL)
INSERT [dbo].[Cupon] ([id], [nombre], [descripcion], [valor], [estado], [imagen]) VALUES (101, N'Cine', N'Cinenhhh', 2000, 1, NULL)
SET IDENTITY_INSERT [dbo].[Cupon] OFF
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([id], [nombre], [precio], [color], [imagen]) VALUES (1, N'Envasee', 100000, N'#0080c0', NULL)
SET IDENTITY_INSERT [dbo].[Material] OFF
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([idRol], [descripcion]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([idRol], [descripcion]) VALUES (2, N'Administrador de Centro de Acopio')
INSERT [dbo].[Rol] ([idRol], [descripcion]) VALUES (3, N'Cliente')
SET IDENTITY_INSERT [dbo].[Rol] OFF
INSERT [dbo].[Usuario] ([email], [nombre], [clave], [idRol], [estado], [telefono], [direccion]) VALUES (N'glori@gmail.com', N'glo', N'123456', 3, 1, 84988546, N'san')
INSERT [dbo].[Usuario] ([email], [nombre], [clave], [idRol], [estado], [telefono], [direccion]) VALUES (N'glori06@gmail.com', N'Gloriana Vega', N'Obregon24', 3, 1, 84988546, N'Cartago lkk')
INSERT [dbo].[Usuario] ([email], [nombre], [clave], [idRol], [estado], [telefono], [direccion]) VALUES (N'glori98@gmail.com', N'Gloriana Vega', N'Obregon24', 3, 1, 84988546, N'Alajuela asd')
ALTER TABLE [dbo].[BilleteraVirtual]  WITH CHECK ADD  CONSTRAINT [FK_BilleteraVirtual_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([email])
GO
ALTER TABLE [dbo].[BilleteraVirtual] CHECK CONSTRAINT [FK_BilleteraVirtual_Usuario]
GO
ALTER TABLE [dbo].[Centro]  WITH CHECK ADD  CONSTRAINT [FK_Centro_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([email])
GO
ALTER TABLE [dbo].[Centro] CHECK CONSTRAINT [FK_Centro_Usuario]
GO
ALTER TABLE [dbo].[CuponesDisponibles]  WITH CHECK ADD  CONSTRAINT [FK_CuponesDisponibles_Cupon] FOREIGN KEY([idCupon])
REFERENCES [dbo].[Cupon] ([id])
GO
ALTER TABLE [dbo].[CuponesDisponibles] CHECK CONSTRAINT [FK_CuponesDisponibles_Cupon]
GO
ALTER TABLE [dbo].[CuponesDisponibles]  WITH CHECK ADD  CONSTRAINT [FK_CuponesDisponibles_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([email])
GO
ALTER TABLE [dbo].[CuponesDisponibles] CHECK CONSTRAINT [FK_CuponesDisponibles_Usuario]
GO
ALTER TABLE [dbo].[DetalleCambio]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCambio_EncCambio] FOREIGN KEY([idEncCambio])
REFERENCES [dbo].[EncCambio] ([id])
GO
ALTER TABLE [dbo].[DetalleCambio] CHECK CONSTRAINT [FK_DetalleCambio_EncCambio]
GO
ALTER TABLE [dbo].[DetalleCambio]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCambio_Material] FOREIGN KEY([idMaterial])
REFERENCES [dbo].[Material] ([id])
GO
ALTER TABLE [dbo].[DetalleCambio] CHECK CONSTRAINT [FK_DetalleCambio_Material]
GO
ALTER TABLE [dbo].[EncCambio]  WITH CHECK ADD  CONSTRAINT [FK_EncCambio_Centro] FOREIGN KEY([idCentro])
REFERENCES [dbo].[Centro] ([id])
GO
ALTER TABLE [dbo].[EncCambio] CHECK CONSTRAINT [FK_EncCambio_Centro]
GO
ALTER TABLE [dbo].[EncCambio]  WITH CHECK ADD  CONSTRAINT [FK_EncCambio_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([email])
GO
ALTER TABLE [dbo].[EncCambio] CHECK CONSTRAINT [FK_EncCambio_Usuario]
GO
ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_Cupon] FOREIGN KEY([idCupon])
REFERENCES [dbo].[Cupon] ([id])
GO
ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_Cupon]
GO
ALTER TABLE [dbo].[historial]  WITH CHECK ADD  CONSTRAINT [FK_historial_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([email])
GO
ALTER TABLE [dbo].[historial] CHECK CONSTRAINT [FK_historial_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
USE [master]
GO
