@model  IEnumerable<EcomonedasUTN.Models.Material>

@foreach (var item in Model)
{
    <div class="card mb-3" style="margin-left:auto;margin-right:auto;max-width:310px">
        <h3 class="card-header" style="background-color:@item.color;text-align:center">@item.nombre</h3>
        <img width="300" src="@Url.Action("getImage", "Material", new {id= item.id})">
        <div class="card-body" style="text-align:center">
            Valor: <h5>  @String.Format("₡{0:0}", item.precio) </h5>
        </div>
        <div class="card-body" style="text-align: center">
            @Html.ActionLink("Detalles", "Details", "Material", new { id = item.id }, htmlAttributes: new { @class = "btn btn-info btn-block" })
        </div>
    </div>
}