@model EcomonedasUTN.Models.BilleteraVirtual

@{
    ViewBag.Title = "Billetera Virtual";
    var nombre = ((Usuario)Session["session"]).nombre;
    Usuario usuario = ((Usuario)Session["session"]);
}

@using EcomonedasUTN.Models
<div class="container">
    <h2 style="margin-top: 30px">Billetera Virtual - @nombre</h2>

    <div class="row" style="margin-top: 30px">
        <div class="card bg-light mb-3" style="max-width: 20rem;margin-right:40px;margin-left:45px">
            <div class="card-header" style="text-align:center">Ecomonedas Disponibles</div>
            <div class="card-body">
                <img src="~/Content/Imagenes/cambiar.svg" />
                <h1 style="text-align:center;margin-top:20px">₡@Model.total</h1>
                <p class="card-text">Ecomonedas disponible para canjear por cupones aplicables en una variedad de tiendas en todo el país</p>
                @Html.ActionLink("Canjear","ListaCupones","Cupon",new { },new {@class = "btn btn-info btn-block" })
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 20rem;margin-right:40px">
            <div class="card-header" style="text-align:center">Ecomonedas Canjeadas</div>
            <div class="card-body">
                <img src="~/Content/Imagenes/banco.svg" />
                <h1 style="text-align:center;margin-top:20px">₡0</h1>
                <p class="card-text">Ecomonedas canjeadas por cupones, puedes ver un historial de todos tus canjes</p>
                @Html.ActionLink("Historial", "reporteHistorial", "Cupon", new { }, new { @class = "btn btn-info btn-block" })
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header" style="text-align:center">Ecomonedas Generadas</div>
            <div class="card-body">
                <img src="~/Content/Imagenes/analitica.svg" />
                <h1 style="text-align:center;margin-top:20px">₡0</h1>
                <p class="card-text">Ecomonedas Generadas en esta cuenta, puedes ver un historial de todos tus ecomonedas generadas </p>
                @Html.ActionLink("Historial", "reporteEcoMonedasGeneradas", "Cupon", new { }, new { @class = "btn btn-info btn-block" })
            </div>
        </div>
    </div>
</div>
<div style="font-size:10px;text-align:center">Icons made by <a href="https://www.flaticon.es/autores/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>



